HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
.gradle/
build.gradle
gradle/
gradlew
gradlew.bat
settings.gradle

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build output
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/